# EditorConfig is awesome: https://EditorConfig.org
# 项目根目录下的 .editorconfig 文件
root = true

# 适用于所有类型的文件
[*]
# 使用制表符（Tab）来缩进代码
indent_style = tab
# 设置 2 格为默认宽度
indent_size = 2
# 设 2 格为tab默认宽度
tab_width = 2
end_of_line = lf
charset = utf-8
# 确保文件在保存时以换行符结尾（似乎false不生效）
insert_final_newline = true
# 删除换行符之前的任何空格字符
trim_trailing_whitespace = true
