# git 子模块链接
[submodule "libs/rom-libs"]
	path = libs/rom-libs
	url = https://github.com/tianhuoDD/rom-libs.git
[submodule "packages/rom-packages"]
	path = packages/rom-packages
	url = https://github.com/tianhuoDD/rom-packages.git
[submodule "apps/opus-mart"]
	path = apps/opus-mart
	url = https://gitee.com/tianhuodd/opus-mart.git
[submodule "apps/punch-in"]
	path = apps/punch-in
	url = https://github.com/tianhuoDD/punch-in.git
